@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Yanone+Kaffeesatz:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;600&display=swap');
.App {
  text-align: center;
  width: 100%;
  height: auto;

}
.App1 {
  background-image: url(aboutus-jpg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.App2 {
  background-image: url(about-us-jpg.jpg);
  background-size:100%;;
  background-repeat: no-repeat;
}
.App3 {
  background-image: url(login-jpg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.App4 {
  background-image: url(meetings-jpg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.App5 {
background-image: url(account-jpg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.App6 {
  background-image: url(account-settings-jpg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.header {
	width: 100%;
	height: 65px;
}
.blocksha {
	width: 33.333%;
	height: 100%;
	float: left;
}
.main {
  height: 467px;
  padding-top: 10px;
  box-sizing: border-box;

}
h5 {
  font-size: 46px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin-top: 12px;
  margin-left: 10px;
  height: 100%;
}
.header-line {
  margin-right: 136px;
  margin-left: 133px;
  transform: scaleY(0.5);
}
.footer {
  height: 125px;
  width: auto;

}
.footer-panel {
  padding-left: 30px;
  padding-top: 45px;
  box-sizing: border-box;
  width: 1100px;
  height: 100%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.26);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}
.footer-navbar {
  position: relative;
  box-sizing: border-box;
  width: 68%;
  height: 65%;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  float: left;
}
.footer-navbar1{
  width: 40%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 0.5px double white;
  float: left;
}
.footer-navbar2{
  width: 15%;
  height: 100%;
  border: 0.5px double white;
  border-left: 0;
  float: left;
}
.footer-navbar3{
  width: 14%;
  height: 100%;
  border: 0.5px double white;
  border-left: 0;
  border-right: 0;
  float: left;
}
.footer-navbar4{
  width: 30%;
  height: 100%;
  border: 0.5px double white;
  float: left;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.footer-button {
  background-color: #91CB82;
  width: 20%;
  height: 70%;
  float: left;
  margin-left: 40px;
  border-radius: 10px;
}
.know-more {
  font-size: 20px;
  margin-top: 17px;
  width: auto;
  height: auto;
  color: white;

}
.footer-nickname{
  font-size: 20px;
  margin-top: 3px;
  width: auto;
  height: auto;
  float: left;
  color: darkgrey;
}
.footer-date{
  font-size: 20px;
  margin-top: 3px;
  width: auto;
  height: auto;
  float: left;
  color: darkgrey;
}
.footer-messages{
  font-size: 20px;
  margin-top: 3px;
  width: auto;
  height: auto;
  float: left;
  color: darkgrey;
}
.footer-meetings{
  margin-left: 5px;
  font-size: 20px;
  margin-top: 3px;
  width: auto;
  height: auto;
  float: left;
  color: darkgrey;
}
.account {
  height: 467px;
  padding-top: 3.5%;
  box-sizing: border-box;
}
.account-settings {
  height: 467px;
  padding-top: 3.5%;
  box-sizing: border-box;
}
.account-settings-window {
  width: 40%;
  margin:auto;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  height: 83%;
}
.account-settings-letter {
  margin: 0;
  padding-top: 6px;
  height: auto;
  font-size: 19px;

}
.account-letters {
  float: right;
  width: 50%;
  height: 100%;

}

.nickname {
border: none;
background-color: rgba(255, 255, 255, 1);
outline: none;
}
.nickname-letter {
  margin:0;
    float: left;
  height: auto;
  font-size: 25px;
}
.address {
  border: none;
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}
.address-letter {
  margin: 0;
  height: auto;
  font-size: 20px;
  float: left;
}
.role {
  border: none;
  background-color: rgba(255, 255, 255, 1);
  outline: none;

}
.role-letter {
  margin: 0;
  height: auto;
  font-size: 20px;
  float: left;
}
.contacts {
  border: none;
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}
.contacts-letter {
  margin: 0;
  height: auto;
  font-size: 20px;
  float: left;
}
.information {
  border: none;
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}
.information-letter {
  margin: 0;
  height: auto;
  font-size: 20px;
  float: left;
}


body {
  width: auto;
  height: auto;
}
.AboutUsButton {
  width: 50px;
  color: white;
  margin-left: 35%;
  margin-top: 28px;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18px;
  font-style: normal;
}
.MainButton {
  margin-left: 15px;
  width: 400px;
  height: 100%;
  color: white;

}

.meetings {
  height: 465px;
  box-sizing: border-box;
}
.meetings-filter{
  width: 20%;
  height: 85%;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  margin-left: 133px;
}
h3 {
  font-size: 40px;
 color: white;
 margin: 2px;
 font-family: 'Yanone Kaffeesatz', sans-serif;;
}
.meetings-recomendation {
  width: 762px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  margin-top: -395px;
  margin-left: 470px;
}

.LoginButton {
  width: 60px;
  color: white;
  float: right;
  margin-right: 35%;
  margin-top: 28px;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18px;
  font-style: normal;
}

.main-text-block {
  width: 60%;
	height: 70%;
  margin-top: -4%;
  margin-left: 11%;
}
.prtext {
	width: 75%;
	height: 40%;
}
h6 {
    color:white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 60px;
    margin-bottom: 10%;
    text-align: left;

}

h4 {
  color: white;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 25px;
  text-align: left;
  margin-left: 5%;
  font-weight: 200;
}

.AboutUs {
  height: 467px;
  padding-top: 47px;
  box-sizing: border-box;

}
.about-us-window {
  width: 52%;
  height: 55%;
  background-color: rgba(255, 255, 255, 0.25);
  margin: auto;
  border-radius: 10px;
}
hr {
  margin: 0;
  transform: scaleY(0.5);


}
.about-us-letter {
  margin: 0;
  width: auto;
  height: auto;
  font-size: 30px;
}
.Login {
  height: 467px;
}
.account-information {
  width: 40%;
  margin:auto;
  background-color: rgba(255, 255, 255, 0.26);
  height: 83%;
  border-radius: 10px;

}
.contacts-ts {
  margin: 0;
  width: auto;
  height: auto;
  font-size: 30px;

}

@keyframes slide {
  from {
    opacity: 0;
  }
}

.side-nav {
  background-color: gold;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 150px;
  width: 250px;
  position:absolute;
  background-color: rgba(255, 255, 255, 0.3);
  top: 180px;
  right: 0px;
  animation: 2.5s ease-in 0s slide;
}
.side-nav-letter1 {

 height: auto;
 width: auto;
 font-size: 17px;
 float:left;
 margin-left: 25px;
 margin-top: 20px;
 font-family: 'Montserrat Alternates', sans-serif;
 font-weight: 700;
 color: white;
}
.side-nav-meetings {
  height: auto;
  width: auto;
  font-size: 25px;
  float:left;
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 800;
  color: white;
}
.about-us-text {
  font-weight: 600;
}
